version: "3.7"
services:
    db:
        image: motorway-test-backend
        container_name: motorway-test-backend
        build:
            context: ./docker/db
            dockerfile: Dockerfile
        environment:
            - POSTGRES_USER=user
            - POSTGRES_PASSWORD=password
            - POSTGRES_DB=motorway
        ports:
            - 5432:5432
    api:
        image: express-api
        build:
            context: .
            dockerfile: ./docker/api/Dockerfile
        ports:
            - 3000:3000
        depends_on:
            - db
